<link rel="stylesheet" href="/stylesheets/user-profiles-list-small.css">
<link rel="stylesheet" href="/stylesheets/chat.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<script type="text/javascript" src="/javascripts/chat.js"></script>


<div class="pull-right">
    <span>Count : {{count}}</span>
    <a href="/logout">Logout</a>
</div>
<h1>Session id {{sesssion_id}} {{name}}</h1>
<!-- -----------------------------------------------------Chat pop up -------------------------------------------------------------- -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
    var socket = io();

    function sendFunction() {
        socket.emit('new message', $('#new-message').val());
        $('#new-message').val('');
    }
    socket.on('chat message', function(msg) {
        var divElement = '<div class="direct-chat-msg doted-border">'+
                '<div class="direct-chat-info clearfix">'+
                    '<span class="direct-chat-name pull-left">{{name}}</span>'+
                '</div>'+
                '<img alt="message user image" src="/images/profile.ico" class="direct-chat-img">'+
                '<div class="direct-chat-text">'+
                    msg
                '</div>'+
                '<div class="direct-chat-info clearfix">'+
                    '<span class="direct-chat-timestamp pull-right">4.30 PM</span>'+
                '</div>'+
            '</div>';
        $('.popup-messages').append(divElement);
    });
</script>




<ul class="user-profiles-list-small">
    {{# each users}}
        <li>
            <a href="#" class="chat" data-value="{{this.name}}">
                <div class="user-avatar">
                    <img src="/images/profile.ico" width="48" alt="Profile images" />
                    <input type="hidden" name="" id="Chat-ti" value="{{this.name}}">
                </div>
                <p class="user-name">
                    {{this.name}}
                    <span>Last seen on 27th Sep 2014</span>
                </p>
            </a>
        </li>
        {{/each}}
</ul>



<div class="popup-box chat-popup" id="qnimate">
    <div class="popup-head">
        <div class="popup-head-left pull-left" id="titleName"><img src="https://media.licdn.com/mpr/mpr/shrink_100_100/p/2/005/0b3/123/319cbe7.jpg" alt="pawan">Pawan Pandey</div>
        <div class="popup-head-right pull-right">
            <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-off"></i></button>
        </div>
    </div>
    <div class="popup-messages">

    </div>
    <div class="popup-messages-footer">
        <form id="form" onsubmit="return false;">
            <!-- <textarea id="status_message" placeholder="Type a message..." rows="4" cols="39" name="message"></textarea> -->
            <input type="hidden" name="{{name}}" value="{{name}}" id="chatName">
            <input id="new-message" type="text" /><button onclick="sendFunction()">Send</button>
        </form>
    </div>
</div>

<!-- <div class="popup-box chat-popup" id="qnimate">
    <div class="popup-head">
        <div class="popup-head-left pull-left"><img src="https://media.licdn.com/mpr/mpr/shrink_100_100/p/2/005/0b3/123/319cbe7.jpg" alt="pawan">Pawan Pandey</div>
        <div class="popup-head-right pull-right">
            <div class="btn-group">
                <button class="chat-header-button" data-toggle="dropdown" type="button" aria-expanded="false">
									   <i class="glyphicon glyphicon-cog"></i> </button>
                <ul role="menu" class="dropdown-menu pull-right">
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Block</a></li>
                    <li><a href="#">Clear Chat</a></li>
                    <li><a href="#">Email Chat</a></li>
                </ul>
            </div>

            <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-off"></i></button>
        </div>
    </div>
    <div class="popup-messages">




        <div class="direct-chat-messages">


            <div class="chat-box-single-line">
                <abbr class="timestamp">October 10th, 2013</abbr>
            </div>


            <div class="direct-chat-msg doted-border">
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-left">Sujeet</span>
                </div>
                <img alt="message user image" src="https://media.licdn.com/mpr/mpr/shrink_100_100/p/2/005/0b3/123/319cbe7.jpg" class="direct-chat-img">
                <div class="direct-chat-text">
                    Hey bro, how’s everything going ?
                </div>
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-timestamp pull-right">4.30 PM</span>
                </div>
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-img-reply-small pull-left">

						</span>
                    <span class="direct-chat-reply-name">Thakur</span>
                </div>
            </div>


            <div class="chat-box-single-line">
                <abbr class="timestamp">October 12th, 2013</abbr>
            </div>

            <div class="direct-chat-msg doted-border">
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-left">Sujeet</span>
                </div>
                <img alt="message user image" src="https://media.licdn.com/mpr/mpr/shrink_100_100/p/2/005/0b3/123/319cbe7.jpg" class="direct-chat-img">
                <div class="direct-chat-text">
                    Hey bro, how’s everything going ?
                </div>
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-timestamp pull-right">4.30 PM</span>
                </div>
                <div class="direct-chat-info clearfix">
                    <img alt="" src="" class="direct-chat-img big-round">
                    <span class="direct-chat-reply-name">Thakur</span>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-messages-footer">
        <textarea id="status_message" placeholder="Type a message..." rows="10" cols="40" name="message"></textarea>
        <div class="btn-footer">
            <button class="bg_none"><i class="glyphicon glyphicon-film"></i> </button>
            <button class="bg_none"><i class="glyphicon glyphicon-camera"></i> </button>
            <button class="bg_none"><i class="glyphicon glyphicon-paperclip"></i> </button>
            <button class="bg_none pull-right"><i class="glyphicon glyphicon-thumbs-up"></i> </button>
        </div>
    </div>
</div> -->
