<link rel="stylesheet" href="/stylesheets/user-profiles-list-small.css">
<link rel="stylesheet" href="/stylesheets/chat.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<script type="text/javascript" src="/javascripts/chat.js"></script>


<div class="pull-right">
    <span>Count : {{count}}</span>
    <a href="/logout">Logout</a>
</div>
<h3>Welcome {{sesssion_id}} {{name}}</h3>
<input type="hidden" id="loggedUser" name="" value="{{name}}">
<!-- -----------------------------------------------------Chat pop up -------------------------------------------------------------- -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
    var socket = io();

    function sendFunction() {
        socket.emit('new message', $('#new-message').val(), $("#chatName").val());
        $('#new-message').val('');
    }
    socket.on('chat message', function(msg, user) {
        var loggedUser = $("#loggedUser").val();
        var change = "left";
        if (user == loggedUser) {
            var change = "right";
        }

        var divElement = '<li>' +
            '<span class=' + change + '>' + msg + '</span>' +
            '<div class="clear"></div>' +
            '</li>';
        $('.popup-messages').append(divElement);
        $("#messages").scrollTop(1000);
    });
</script>

<ul class="user-profiles-list-small">
    {{# each users}}
        <li>
            <a href="#" class="chat" data-value="{{this.name}}">
                <div class="user-avatar">
                    <img src="/images/profile.ico" width="48" alt="Profile images" />
                    <input type="hidden" name="" id="Chat-ti" value="{{this.name}}">
                </div>
                <p class="user-name">
                    {{this.name}}
                    <span>Last seen on 27th Sep 2014</span>
                </p>
            </a>
        </li>
        {{/each}}
</ul>

<div class="chat-box popup-box chat-popup" id="qnimate">
    <div class="header" id="">
        <span id="titleName"></span>
        <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-off"></i></button>
    </div>
    <div id="messages" class="messages">
        <ul class="popup-messages">
        </ul>
        <div class="clear"></div>
    </div>

    <div class="input-box">
        <form id="form" onsubmit="return false;">
            <input type="hidden" name="{{name}}" value="{{name}}" id="chatName">
            <input id="new-message" type="text" /><button onclick="sendFunction()">Send</button>
        </form>
    </div>
</div>
